<div class="container">
  <h2>User List</h2>
  <p>There some lovey people who requested for wine, beer and liquor</p>            
  <h2>
    <a href="javascript:void(0);" routerLink="/profile">
      Go to profile
    </a>
  </h2>
  <h2>
    <a href="javascript:void(0);" routerLink="/">
      Home
    </a>
  </h2>
  <h2>
    <a href="javascript:void(0);" routerLink="/users">
      Users
    </a>
  </h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts | async">
        <td>{{ post.data.user_name }}</td>
        <td>{{ post.data.phone }}</td>        
      </tr>      
    </tbody>
  </table>
</div>