<div class="container">
  <h2>User List</h2>
  <p>There some lovey people who requested for wine, beer and liquor</p>
  <h2>
    <a href="javascript:void(0);" routerLink="/profile">
      Go to profile
    </a>
  </h2>
  <h2>
    <a href="javascript:void(0);" routerLink="/">
      Home
    </a>
  </h2>
  <h2>
    <a href="javascript:void(0);" routerLink="/users">
      Users
    </a>
  </h2>
  <div class="scrlldiv" scrollable (scrollPosition)="scrollHandler($event)">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let boat of page.data | async">
          <td>{{ boat.user_name }}</td>
          <td>{{ boat.user_name }}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="page.done | async"></p>
    <ng4-loading-spinner *ngIf="page.loading | async"></ng4-loading-spinner>
  </div>

</div>