// Header & Middle Content Structure | Start
body,
html,
main {
    height: 100%;
}

body {
    background-color: transparent;
}

.wrapper-contents {
    height: 100%;
}
//    Header & Middle Content Structure | End